.wrap {
  display: flex;
  background: #f2f3f9;
}
.contents-wrap {
  height: 700px;
  overflow-y: auto;
  background-color: #fefefe;
  margin: 40px 0 100px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
